In [1]:
import pymysql as sql

In [2]:
hostname = "localhost"
port = 3306
username = "root"
password = ""

In [3]:
connection = sql.connect(
    host=hostname, 
    port=port,
    user=username,
    password=password,
    )

##### SQL

In [4]:
query = "SHOW DATABASES;"

In [5]:
cursor = connection.cursor()

In [7]:
cursor.execute(query)

13

In [8]:
output = cursor.fetchall()

In [9]:
print(output)

(('bank',), ('demo',), ('employees',), ('information_schema',), ('infytq',), ('mysql',), ('mystudent',), ('performance_schema',), ('phpmyadmin',), ('sakila',), ('student',), ('test',), ('world',))

In [10]:
for dbname in output:
    print(*dbname)

bank
demo
employees
information_schema
infytq
mysql
mystudent
performance_schema
phpmyadmin
sakila
student
test
world

In [12]:
query = "CREATE DATABASE Blog;"

In [13]:
cursor.execute(query)

1

In [14]:
def get_databases(cursor):
    cursor.execute("SHOW DATABASES;")
    for sn, dbname in enumerate(cursor.fetchall()):
        print(f"{sn+1:>5} . {dbname}")

In [15]:
get_databases(cursor)

    1 . ('bank',)
    2 . ('blog',)
    3 . ('demo',)
    4 . ('employees',)
    5 . ('information_schema',)
    6 . ('infytq',)
    7 . ('mysql',)
    8 . ('mystudent',)
    9 . ('performance_schema',)
   10 . ('phpmyadmin',)
   11 . ('sakila',)
   12 . ('student',)
   13 . ('test',)
   14 . ('world',)

In [19]:
# local
# remote
query = ["CREATE USER 'blog'@'localhost' IDENTIFIED BY 'blog';", 
         "CREATE USER 'blog'@'%' IDENTIFIED BY 'blog';"
        ]
for q in query:
    print(cursor.execute(q))

0
0

In [24]:
def get_user(cursor):
    query = "SELECT user, host FROM mysql.user"
    print("total users: ", cursor.execute(query))
    result = cursor.fetchall()
    print(f"{'user':>30} {'hostname':>30}")
    for user, host in result:
        print(f"{user:>30} {host:>30}")

In [25]:
get_user(cursor)

total users:  10
                          user                       hostname
                          blog                              %
                          root                      127.0.0.1
                          root                            ::1
                          bank                      localhost
                          blog                      localhost
                           pma                      localhost
                          root                      localhost
                        sachin                      localhost
                            st                      localhost
                       student                      localhost

In [26]:
query = "GRANT SELECT,COUNT ON  Blog.users TO 'blog'@'localhost';"
query = "REVOKE SELECT,COUNT ON  Blog.users TO 'blog'@'localhost';"

In [29]:
query = "GRANT ALL PRIVILEGES ON Blog.* TO 'blog'@'localhost';"
cursor.execute(query)

0

In [30]:
query = "GRANT ALL PRIVILEGES ON Blog.* TO 'blog'@'%';"
cursor.execute(query)

0

##### We have to Create Tables

In [35]:
connection.close()

In [36]:
cursor.close()

In [40]:
def get_all_tables(cursor):
    query = f"SHOW TABLES"
    print("Total Tables: ", cursor.execute(query))
    result = cursor.fetchall()
    for table in result:
        print(*table)

In [38]:
connection = sql.connect(host='localhost', port=3306, user='blog', password='blog', database='blog')
cursor = connection.cursor()

In [41]:
get_all_tables(cursor)

Total Tables:  0

In [42]:
query = "CREATE TABLE users(username VARCHAR(30) PRIMARY KEY, email  VARCHAR(30),\
password VARCHAR(30), first_name VARCHAR(30), last_name VARCHAR(30), ph_no VARCHAR(30))"

In [43]:
cursor.execute(query)

0

In [58]:
# DROP -> structure, schema + Data
# TRUNCATE -> DATA

query = "DROP TABLE users"
cursor.execute(query)

0

In [59]:
get_all_tables(cursor)

Total Tables:  0

In [60]:
query = "CREATE TABLE users(username VARCHAR(30) PRIMARY KEY, email  VARCHAR(30) NOT NULL,\
password VARCHAR(30) NOT NULL, first_name VARCHAR(30) NOT NULL, last_name VARCHAR(30) NOT NULL,\
ph_no VARCHAR(30), sex ENUM('MALE', 'FEMALE', 'OTHER'))"

In [61]:
cursor.execute(query)

0

In [62]:
get_all_tables(cursor)

Total Tables:  1
users

In [63]:
q = "DESCRIBE users;"
# SCHEMA
cursor.execute(q)

7

In [64]:
result = cursor.fetchall()

In [92]:
print("__"*45)
print(f"| {'Column Name':>15} | {'Data Type':>30} | {'NULL Value':>4} | {'key':5} | {'OTHER':>8} | ")
for row in result:
    print("__"*45)
    row =list(row)
    if row[-2] == None:
        row[-2] = 'None'
    print("| {:>15} | {:>30} | {:>10} | {:>5} | {:>8} | {} ".format(*row))
print("__"*45)
# column name, data type, nullable, KEYS, EXTRA

__________________________________________________________________________________________
|     Column Name |                      Data Type | NULL Value | key   |    OTHER |
__________________________________________________________________________________________
|        username |                    varchar(30) |         NO |   PRI |     None |
__________________________________________________________________________________________
|           email |                    varchar(30) |         NO |       |     None |
__________________________________________________________________________________________
|        password |                    varchar(30) |         NO |       |     None |
__________________________________________________________________________________________
|      first_name |                    varchar(30) |         NO |       |     None |
__________________________________________________________________________________________
|       last_name |                    varchar(30) |         NO |       |     None |
__________________________________________________________________________________________
|           ph_no |                    varchar(30) |        YES |       |     None |
__________________________________________________________________________________________
|             sex |  enum('MALE','FEMALE','OTHER') |        YES |       |     None |
__________________________________________________________________________________________

In [36]:
query = "DELETE FROM users WHERE username='sachin';"

In [37]:
cursor.execute(query)

1

In [38]:
connection.commit()

In [41]:
query = "INSERT INTO users (username, email, password, first_name, last_name, ph_no, sex) values\
('sachin', 'sachin@grras.com', 'redhat', 'sachin', 'yadav', '9782131159', 'MALE');"

In [42]:
cursor.execute(query)

1

In [43]:
connection.commit()

In [95]:
query = "INSERT INTO users (username, email, password, first_name, last_name, ph_no, sex) values\
('kushal', 'kushal@grras.com', 'Asimov', 'kushal', 'samota', '1234567890', 'MALE');"

In [96]:
cursor.execute(query)

1

In [97]:
connection.commit()

In [39]:
cursor.execute("SELECT * FROM users;")

1

In [40]:
for row in cursor.fetchall():
    print(*row, sep='\t')

kushal	kushal@grras.com	Asimov	kushal	samota	1234567890	MALE

2

In [48]:
cursor.execute("SELECT username, email, ph_no FROM users;")
for row in cursor.fetchall():
    print(*row, sep='\t')

kushal	kushal@grras.com	1234567890
sachin	sachin@grras.com	9782131159
simran	simran.grover@grras.com	1234567890

In [47]:
connection.commit()

In [108]:
name = input("Enter name: ").strip().lower()
if cursor.execute(f"SELECT * FROM users WHERE username = '{name}';"):
    print(*cursor.fetchone(), sep='\t')
else:
    print("No such user exists")

Enter name: simran
No such user exists

In [109]:
name = input("Enter name: ").strip().lower()
if cursor.execute(f"SELECT * FROM users WHERE username = '{name}';"):
    print(*cursor.fetchone(), sep='\t')
else:
    print("No such user exists")

Enter name: sachin
sachin	sachin@grras.com	redhat	sachin	yadav	9782131159	MALE

In [110]:
name = input("Enter name: ").strip().lower()
if cursor.execute(f"SELECT * FROM users WHERE username = '{name}';"):
    print(*cursor.fetchone(), sep='\t')
else:
    print("No such user exists")

Enter name: kushal
kushal	kushal@grras.com	Asimov	kushal	samota	1234567890	MALE

    UPDATE, DELETE

Assignment: 
    
    Blog 
        
        username foreign key, heading, date, content, city, topic

In [112]:
connection.close()

In [113]:
cursor.close()

Project

    app.py

    templates

        index.html
        
    static
    
        css
        
        images
        
        js

In [1]:
import pymysql

In [2]:
connection = pymysql.connect(
                            host='localhost',
                            port=3306,
                            user='blog',
                            password='blog',
                            database='blog'
                            )

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("SHOW TABLES;")

2

In [5]:
cursor.fetchall()

(('blogs',), ('users',))

In [6]:
cursor.execute("DESC users;")

7

In [7]:
cursor.fetchall()

(('username', 'varchar(30)', 'NO', 'PRI', None, ''),
 ('email', 'varchar(30)', 'NO', '', None, ''),
 ('password', 'varchar(30)', 'NO', '', None, ''),
 ('first_name', 'varchar(30)', 'NO', '', None, ''),
 ('last_name', 'varchar(30)', 'NO', '', None, ''),
 ('ph_no', 'varchar(30)', 'YES', '', None, ''),
 ('sex', "enum('MALE','FEMALE','OTHER')", 'YES', '', None, ''))

In [8]:
cursor.execute("SELECT * FROM users;")

2

In [9]:
cursor.fetchall()

(('kushal',
  'kushal@grras.com',
  'Asimov',
  'kushal',
  'samota',
  '1234567890',
  'MALE'),
 ('sachin',
  'sachin@grras.com',
  'redhat',
  'sachin',
  'yadav',
  '9782131159',
  'MALE'))

In [10]:
query = "CREATE TABLE blogs (id INT PRIMARY KEY AUTO_INCREMENT,\
username VARCHAR(30) NOT NULL, topic VARCHAR(100), heading VARCHAR(500) NOT NULL,\
content LONGTEXT NOT NULL, date DATE,  CONSTRAINT `fk_blogs_users` \
FOREIGN KEY (username) REFERENCES users (username) ON DELETE CASCADE)"

In [ ]:
cursor.execute(query)

In [13]:
def get_all_tables(cursor):
    query = f"SHOW TABLES"
    print("Total Tables: ", cursor.execute(query))
    result = cursor.fetchall()
    for table in result:
        print(*table)

In [14]:
get_all_tables(cursor)

Total Tables:  2
blogs
users

`DATABASE SETUP`

    'email'

    'password'

In [15]:
email = "sachin@grras.com"

In [26]:
query = "SELECT * FROM users WHERE email='sachin@grras.com';"

In [27]:
rows = cursor.execute(query)

In [28]:
rows

1

In [29]:
data = cursor.fetchall()

In [30]:
data

(('sachin',
  'sachin@grras.com',
  'redhat',
  'sachin',
  'yadav',
  '9782131159',
  'MALE'),)

In [31]:
query = "SELECT * FROM users WHERE email='simrangrover@grras.com';"
rows = cursor.execute(query)
rows

0

In [34]:
query = "SELECT * FROM users WHERE username='sachin'"
rows = cursor.execute(query)
rows

1

In [35]:
query = "SELECT * FROM users WHERE username='sachin1'"
rows = cursor.execute(query)
rows

0