In [1]:
import pymysql as sql

In [2]:
hostname = "localhost"
port = 3306
username = "root"
password = ""

In [3]:
connection = sql.connect(
    host=hostname, 
    port=port,
    user=username,
    password=password,
    )

##### SQL

In [4]:
query = "SHOW DATABASES;"

In [5]:
cursor = connection.cursor()

In [7]:
cursor.execute(query)

13

In [8]:
output = cursor.fetchall()

In [9]:
print(output)

(('bank',), ('demo',), ('employees',), ('information_schema',), ('infytq',), ('mysql',), ('mystudent',), ('performance_schema',), ('phpmyadmin',), ('sakila',), ('student',), ('test',), ('world',))

In [10]:
for dbname in output:
    print(*dbname)

bank
demo
employees
information_schema
infytq
mysql
mystudent
performance_schema
phpmyadmin
sakila
student
test
world

In [12]:
query = "CREATE DATABASE Blog;"

In [13]:
cursor.execute(query)

1

In [14]:
def get_databases(cursor):
    cursor.execute("SHOW DATABASES;")
    for sn, dbname in enumerate(cursor.fetchall()):
        print(f"{sn+1:>5} . {dbname}")

In [15]:
get_databases(cursor)

    1 . ('bank',)
    2 . ('blog',)
    3 . ('demo',)
    4 . ('employees',)
    5 . ('information_schema',)
    6 . ('infytq',)
    7 . ('mysql',)
    8 . ('mystudent',)
    9 . ('performance_schema',)
   10 . ('phpmyadmin',)
   11 . ('sakila',)
   12 . ('student',)
   13 . ('test',)
   14 . ('world',)

In [19]:
# local
# remote
query = ["CREATE USER 'blog'@'localhost' IDENTIFIED BY 'blog';", 
         "CREATE USER 'blog'@'%' IDENTIFIED BY 'blog';"
        ]
for q in query:
    print(cursor.execute(q))

0
0

In [24]:
def get_user(cursor):
    query = "SELECT user, host FROM mysql.user"
    print("total users: ", cursor.execute(query))
    result = cursor.fetchall()
    print(f"{'user':>30} {'hostname':>30}")
    for user, host in result:
        print(f"{user:>30} {host:>30}")

In [25]:
get_user(cursor)

total users:  10
                          user                       hostname
                          blog                              %
                          root                      127.0.0.1
                          root                            ::1
                          bank                      localhost
                          blog                      localhost
                           pma                      localhost
                          root                      localhost
                        sachin                      localhost
                            st                      localhost
                       student                      localhost

In [26]:
query = "GRANT SELECT,COUNT ON  Blog.users TO 'blog'@'localhost';"
query = "REVOKE SELECT,COUNT ON  Blog.users TO 'blog'@'localhost';"

In [29]:
query = "GRANT ALL PRIVILEGES ON Blog.* TO 'blog'@'localhost';"
cursor.execute(query)

0

In [30]:
query = "GRANT ALL PRIVILEGES ON Blog.* TO 'blog'@'%';"
cursor.execute(query)

0

##### We have to Create Tables

In [35]:
connection.close()

In [36]:
cursor.close()

In [40]:
def get_all_tables(cursor):
    query = f"SHOW TABLES"
    print("Total Tables: ", cursor.execute(query))
    result = cursor.fetchall()
    for table in result:
        print(*table)

In [38]:
connection = sql.connect(host='localhost', port=3306, user='blog', password='blog', database='blog')
cursor = connection.cursor()

In [41]:
get_all_tables(cursor)

Total Tables:  0

In [42]:
query = "CREATE TABLE users(username VARCHAR(30) PRIMARY KEY, email  VARCHAR(30),\
password VARCHAR(30), first_name VARCHAR(30), last_name VARCHAR(30), ph_no VARCHAR(30))"

In [43]:
cursor.execute(query)

0

In [58]:
# DROP -> structure, schema + Data
# TRUNCATE -> DATA

query = "DROP TABLE users"
cursor.execute(query)

0

In [59]:
get_all_tables(cursor)

Total Tables:  0

In [60]:
query = "CREATE TABLE users(username VARCHAR(30) PRIMARY KEY, email  VARCHAR(30) NOT NULL,\
password VARCHAR(30) NOT NULL, first_name VARCHAR(30) NOT NULL, last_name VARCHAR(30) NOT NULL,\
ph_no VARCHAR(30), sex ENUM('MALE', 'FEMALE', 'OTHER'))"

In [61]:
cursor.execute(query)

0

In [62]:
get_all_tables(cursor)

Total Tables:  1
users

In [63]:
q = "DESCRIBE users;"
# SCHEMA
cursor.execute(q)

7

In [64]:
result = cursor.fetchall()

In [76]:
print("__"*31)
print(f"{'| Column Name':>15} | {'Data Type':>10} | {'NULL Value':>4} | {'key':5} | {'OTHER':>8} |")
for row in result:
    print("__"*31)
    print(list(row))
    print("| {:>15} | {:>10} | {:>4} | {:>5} | {:>8} | {} ".format(*row))
print("__"*31)
# column name, data type, nullable, KEYS, EXTRA

______________________________________________________________
  | Column Name |  Data Type | NULL Value | key   |    OTHER |
______________________________________________________________
['username', 'varchar(30)', 'NO', 'PRI', None, '']

TypeError: unsupported format string passed to NoneType.__format__